h2 {
  padding: 10px;
  font-family: 'Prata', serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
}

.order-details {
  margin-bottom: 30px;
  display: none;
  text-align: center;
}

.success, .delivery-form, .working-on-order {
  display: none;
}

.customer-info {
  padding-bottom: 30px;
}

.question {
  font-family: 'Crete Round', serif;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.card {
  padding: 50px;
  border-color: white;
  border-radius: 20px;
}

#banner-photo {
  padding-bottom: 0px;
}

#submit-order-button {
  margin-top: 30px;
}

#delivery-message {
  display: none;
  text-align: center;
}

#carryout-message {
  display: none;
  text-align: center;
}

.btn {
  background-color: #b0cd56;
  border-color: lightgrey;
}

.btn:hover {
    background-color: #788c3a;
    border-color: lightgrey;
}

.btn:active {
  background-color: grey;
}
