h2 {
  padding: 10px;
  font-family: 'Prata', serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.order-details {
  display: none;
}

.delivery-form {
  display: none;
}

.customer-info {
  padding-bottom: 30px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.card {
  padding: 50px;
}

#banner-photo {
  padding-bottom: 50px;
}

.btn {
  background-color: #b0cd56;
  border-color: lightgrey;
}

.btn:hover {
    background-color: #788c3a;
    border-color: lightgrey;
}

.btn:active {
  background-color: grey;
}
