h2 {
  font-family: 'Prata', serif;
  font-size: 20px;
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.order-details {
  display: none;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.card {
  padding: 50px;
}

#banner-photo {
  padding-bottom: 50px;
}

.btn {
  background-color: #b0cd56;
  border-color: lightgrey;
}

.btn:hover {
    background-color: #788c3a;
    border-color: lightgrey;
}
